<swiper
    [slidesPerView]="slidesPerView" 
    [spaceBetween]="spaceBetween"
    [freeMode]="true" 
    [pagination]="{
      clickable: true
    }"
    [preventClicks]="true"
    [preventClicksPropagation]="true"
    
    class="mySwiper">

    <ng-template swiperSlide class="flex">
        <app-other-movie
            imageCover="assets/movie2wallpaper.jpg"
            id="2"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie3wallpaper.jpg"
            id="3"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie4wallpaper.jpg"
            id="4"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie5wallpaper.jpg"
            id="5"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie6wallpaper.jpg"
            id="6"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie7wallpaper.jpg"
            id="7"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie8wallpaper.jpg"
            id="8"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie9wallpaper.jpg"
            id="9"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex-none"></ng-template>