
@import "swiper/scss";
@import "swiper/scss/free-mode";
@import "swiper/scss/pagination";

.swiper {
  width: 100vw;
  height: 100%;
  margin-bottom: 1vh;
}

.swiper-pagination {
  opacity: 0;
}

.flex {
  display: flex;
}

.flex-none {
  width: 15px;
}

.swiper-wrapper {
  transform: translate3d(-2245.53px, 0px, 0px);
  transition-duration: 0ms;
}

.hide {
  display: none;
}