<div class="footer-container">
    <div class="footer-info">
        <div class="footer-icon">
            <a [routerLink]="''">S</a>
        </div>
        <div class="footer-social-media-icons">
            <div class="footer-social-media">
                <a href="https://github.com/matheusbloize" target="_blank">GitHub</a>
            </div>
            <div class="footer-social-media">
                <a href="https://www.linkedin.com/in/matheus-bloize/" target="_blank">Linkedin</a>
            </div>
            <div class="footer-social-media">
                <a href="https://www.instagram.com/matheus.bloize/" target="_blank">Instagram</a>
            </div>
        </div>
    </div>
</div>