<swiper
    [slidesPerView]="slidesPerView" 
    [spaceBetween]="spaceBetween"
    [freeMode]="true" 
    [pagination]="{
      clickable: true
    }"
    [preventClicks]="true"
    [preventClicksPropagation]="true"
    
    class="mySwiper">

    <ng-template swiperSlide class="flex">
        <app-other-movie
            imageCover="assets/movie18wallpaper.jpg"
            id="18"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie19wallpaper.jpg"
            id="19"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie20wallpaper.jpg"
            id="20"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie21wallpaper.jpg"
            id="21"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie22wallpaper.jpg"
            id="22"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie23wallpaper.jpg"
            id="23"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie24wallpaper.jpg"
            id="24"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie25wallpaper.jpg"
            id="25"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex-none"></ng-template>