<swiper
    [slidesPerView]="slidesPerView" 
    [spaceBetween]="spaceBetween"
    [freeMode]="true" 
    [pagination]="{
      clickable: true
    }"
    [preventClicks]="true"
    [preventClicksPropagation]="true"
    
    class="mySwiper">

    <ng-template swiperSlide class="flex">
        <app-other-movie
            imageCover="assets/movie10wallpaper.jpg"
            id="10"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie11wallpaper.jpg"
            id="11"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie12wallpaper.jpg"
            id="12"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie13wallpaper.jpg"
            id="13"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie14wallpaper.jpg"
            id="14"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie15wallpaper.jpg"
            id="15"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie16wallpaper.jpg"
            id="16"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex">
        <app-other-movie 
            imageCover="assets/movie17wallpaper.jpg"
            id="17"
            >
        </app-other-movie>
    </ng-template>
    <ng-template swiperSlide class="flex-none"></ng-template>