@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
    font-family: 'Saira', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.list-content-grid, .search-content-grid {
    margin-top: 2%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85vw;
    row-gap: 2.5vh;
    column-gap: 1.5vw;
}

.list-content-grid span,
.search-content-grid span {
    margin-top: 10%;
    font-size: 2em;
    width: 100vw;
    color: #fff;
    animation: blink 1s ease infinite;
}

@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}

.loading {
    position: absolute;
    border: 6px solid #333333;
    border-top-color: #00FFBB;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    animation: rotating 1s infinite;
}