<div class="menu-container">
    <div class="menu-icons">
        <div class="menu-icon">
            <a [routerLink]="''">S</a>
        </div>
        <div class="menu-icon">
            <a [routerLink]="''">Início</a>
        </div>
        <div class="menu-icon">
            <a [routerLink]="'list'">Minha Lista</a>
        </div>
        <div class="menu-icon">
            <a [routerLink]="'search'">Pesquisar</a>
        </div>
    </div>
    <div class="menu-profile" (mouseleave)="leaveProfile()">
        <div class="profile-icon" (mouseover)="showProfile()">Perfil</div>
        <div class="showProfile" ></div>
        <div class="profile-icon switchTheme" (click)="switchTheme()">
            <div class="lightTheme">
                <img src="assets/sun.png" alt="">
            </div>
            <div class="pointer">•</div>
            <div class="darkTheme">
                <img src="assets/moon.png" alt="">
            </div>
        </div>

    </div>
</div>
